# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# macOS
.DS_Store

# Project specific
output/
*.pdf
*.png
*.txt

# Logs
*.log

# Environments
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
